[![img/pythonista.png](img/pythonista.png)](https://www.pythonista.io)

# La biblioteca *Marsmallow-SQLAlchemy*.

https://marshmallow-sqlalchemy.readthedocs.io/en/latest/

In [1]:
!pip install marshmallow-sqlalchemy

Requirement already satisfied: marshmallow-sqlalchemy in /home/oi/pythonista/lib/python3.9/site-packages (0.27.0)
Requirement already satisfied: marshmallow>=3.0.0 in /home/oi/pythonista/lib/python3.9/site-packages (from marshmallow-sqlalchemy) (3.14.1)
Requirement already satisfied: SQLAlchemy>=1.2.0 in /home/oi/pythonista/lib/python3.9/site-packages (from marshmallow-sqlalchemy) (1.4.31)
Requirement already satisfied: greenlet!=0.4.17 in /home/oi/pythonista/lib/python3.9/site-packages (from SQLAlchemy>=1.2.0->marshmallow-sqlalchemy) (1.1.2)
WARNING: You are using pip version 21.3.1; however, version 22.0.3 is available.
You should consider upgrading via the '/home/oi/pythonista/bin/python -m pip install --upgrade pip' command.

## La clase ```SQLAlchemySchema```.

La clase ```marshmallow_sqlalchemy.SQLAlchemySchema```.

https://marshmallow-sqlalchemy.readthedocs.io/en/latest/api_reference.html#marshmallow_sqlalchemy.SQLAlchemySchema

In [2]:
import sqlalchemy as sa
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import scoped_session, sessionmaker

In [3]:
engine = sa.create_engine("sqlite:///data/alumnosql.sqlite")
session = scoped_session(sessionmaker(bind=engine))
Base = declarative_base()

In [4]:
class AlumnosSQL(Base):
    __tablename__ = 'alumno'
    
    cuenta = sa.Column(sa.Integer, primary_key=True)
    nombre = sa.Column(sa.String(50))
    primer_apellido = sa.Column(sa.String(50))
    segundo_apellido = sa.Column(sa.String(50))
    carrera = sa.Column(sa.String(50))
    semestre = sa.Column(sa.Integer)
    promedio = sa.Column(sa.Float)
    al_corriente = sa.Column(sa.Boolean)

In [5]:
Base.metadata.create_all(engine)

In [6]:
from marshmallow_sqlalchemy import SQLAlchemySchema, auto_field

In [7]:
class AlumnoSchema(SQLAlchemySchema):
    class Meta:
        model = AlumnosSQL
        load_instance = True
        
    cuenta = auto_field()
    nombre = auto_field()
    primer_apellido = auto_field()
    segundo_apellido = auto_field()
    carrera = auto_field()
    semestre = auto_field()
    promedio = auto_field()
    al_corriente = auto_field()

In [8]:
alumno = AlumnosSQL(cuenta=12347)

In [9]:
session.add(alumno)
session.commit()

In [10]:
alumno_schema = AlumnoSchema()

In [11]:
alumno_schema.dump(alumno)

{'nombre': None,
 'promedio': None,
 'primer_apellido': None,
 'semestre': None,
 'al_corriente': None,
 'segundo_apellido': None,
 'carrera': None,
 'cuenta': 12347}

In [12]:
nuevo_alumno = alumno_schema.load({
    'cuenta': 12345,
    'al_corriente': False, 
    'carrera': 'Derecho', 
    'nombre': 'Pedro', 
    'primer_apellido': 'Solis', 
    'promedio': 7.8, 
    'semestre': 3,},
    session=session)

In [13]:
nuevo_alumno

In [14]:
session.add(nuevo_alumno)

In [15]:
session.commit()

In [16]:
%load_ext sql

In [17]:
%sql sqlite:///data/alumnosql.sqlite

In [18]:
%%sql 
select * from alumno

 * sqlite:///data/alumnosql.sqlite
Done.

[(12345, 'Pedro', 'Solis', None, 'Derecho', 3, 7.8, 0),
 (12347, None, None, None, None, None, None, None)]

## La clase ```SQLAlchemyAutoSchema```.

https://marshmallow-sqlalchemy.readthedocs.io/en/latest/api_reference.html#marshmallow_sqlalchemy.SQLAlchemyAutoSchema

In [19]:
from marshmallow_sqlalchemy import SQLAlchemyAutoSchema

In [20]:
class AlumnoSchema2(SQLAlchemyAutoSchema):
    class Meta:
        model = AlumnosSQL
        include_relationships = True
        load_instance = True

In [21]:
alumno_schema2 = AlumnoSchema2()

In [22]:
alumno_schema2.dump(nuevo_alumno)

{'nombre': 'Pedro',
 'promedio': 7.8,
 'primer_apellido': 'Solis',
 'semestre': 3,
 'al_corriente': False,
 'segundo_apellido': None,
 'carrera': 'Derecho',
 'cuenta': 12345}

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2022.</p>